
body{
  color: rgb(207, 207, 207);
  background:#1b1b1b
}


.body,.movies,.games {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%
}

.new {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0; 
  right: 0; 
}
.node {
  border: solid 1px #1b1b1b;
  font: 10px sans-serif;
  line-height: 1.6;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
}
form {
  position: relative;
  left: 0;
  right: 5;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
  top: 0}
.subtitle {
  text-align: center;
}
.header {
  text-align: center;
  font-size: 32px
}
.element {
  margin-top: -3%;
}
@media(max-width:900px) {
  .element{
   margin-top: 10%
  }
  .navbar{
    left: -5%
  }
  a {
    font-size: 7px
  }
  .tooltip-style{
    width: 30% !important
  }
}
@media(max-width:480px) {
  a {
    font-size: 4px;
    font-weight: 700
  }
  .navbar{
    left: -10%;
    top: 30% !important
  }
  .navbar li {
    padding: 0.25rem!important
  }
  .new{
    margin-top: 5% !important
  }
  .tooltip-style{
    width: 50% !important
  }
}
.tooltip-style {
  font: 18px sans-serif;
  transition: 0.35s ease-in-out;
  color: rgb(207, 205, 207);
  position: absolute;
  pointer-events: none;
  width: 18%;
  word-wrap: break-word;
  background-color: rgba(8, 8, 8, 0.548);
  border-radius: 3%;
  padding: 7.5px;
  text-align: center;
  box-shadow: 1px 1px 3px 1px gray;
}
.navbar{
  position: absolute;
  top: 350px;
}

.navbar li{
  list-style: none;
  padding: 1rem;
  margin: 2rem 0;
  border-left: solid 2px rgb(163, 99, 2) 
}
.navbar li:hover{
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: white
}
a:hover {
  color: rgb(124, 121, 111);

}
.footer{
  font-size: 10px;
  text-align: center;
  top: 54rem;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
}